<!-- <p>trainingapp works!</p> -->
<div class="publictraining">
  <div class="container">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col-6">
        2 of 3 (wider)
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col-5">
        2 of 3 (wider)
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>
    <div class="container" style="width:95%;margin: 0 auto;">
      <div class="row">
        
        <div
          *ngFor="let training of appSignalStore.training.list()"
          class="col-sm-12 col-md-12 col-lg-4 mb-r"
        >
        
        <!-- <div
          *ngFor="let training of trainings"
          class="col-sm-12 col-md-12 col-lg-4 mb-r"
        > -->
          <app-training-item
            api="training"
            [trainingInput]="training"
          ></app-training-item>
        </div>
      </div>
    </div>
  
    <!-- <h4>{{training.get('title')}}</h4>
        <p>{{training.get('shortDescription')}}</p> -->
  </div>
  
