<h1>private trainingapp --- delete later</h1>  
<div class="container-fluid py-4">
  <div class="row mb-4">
    <div class="col">
      <button mat-raised-button color="primary" (click)="onNewTraining()">
        <mat-icon>add</mat-icon> New Training
      </button>
    </div>
  </div>
  
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let training of appSignalStore.training.list()">
      <app-training-item
        api="training"
        [trainingInput]="training"
      ></app-training-item>
    </div>
  </div>
</div>

