@use '@angular/material' as mat;
@import '@src/styles.scss';
@include mat.core();
.card {
//    background-color: $primary-color;
//   background-color: mat.mat-color($primary-color, darker);
   background-color: $primary;
  //  background-color: mat.get-color-from-palette($primary, 100);
//    background-color: lighten($primary-color, 50%);
//   background-color: rgb(215, 236, 255);

  .card-body {
    background-color: white;
  }
  .card-footer {
    background-color: $accent;
  }
  .card-text {
    font-size: 1em;
    text-align: justify;
  }

  .appimage {
    // background-color:yellow;
    height: 100px;
  }
  img {
    // margin-left: -99px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
}
