<!-- <p>training-item works!</p> -->
<div class="card h-100">
  <!--Card image-->
  <div class="card-img-top position-relative">
    <app-image 
      api="{{ api }}"
      imgid="{{ trainingid }}"
      class="appimage">
    </app-image>
  </div>
  
  <!--Card content-->
  <div class="card-body">
    <h4 class="card-title h5">{{ trainingInput.title }}</h4>
    <p class="card-text">{{ trainingInput.shortDescription }}</p>
  </div>

  <!--Card footer-->
  <div class="card-footer">
    <div class="d-flex align-items-center">
      <span class="badge bg-primary me-2">Rating: {{ trainingInput.rating }}/10</span>
      <small class="text-muted">ID: {{ trainingInput.id }}</small>
    </div>
  </div>
</div>
